#trade-view {
    width: 1180px;
    margin: 0px auto;
}

.k-toolbar-wrap {
    width: 1180px;
    margin: 10px auto 0px auto;
    height: 36px;
    overflow: hidden;
    color: hsla(0, 0%, 100%, .85);
    background: #121d32;
    border-bottom: 1px solid #0c172d;
    font-size: 12px;
}

.k-toolbar .icon {
    margin-left: 4px
}

.k-toolbar .icon img {
    width: 16px;
    height: 16px
}

.k-toolbar .arrow {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4px
}

.k-toolbar .arrow span {
    display: inline;
    transition-property: all;
    transition-duration: .5s
}

.k-toolbar .arrow i {
    font-size: 12px
}

.k-toolbar .collect li {
    -ms-flex-align: center;
    align-items: center
}

.k-toolbar .dropdown {
    position: absolute;
    border-radius: 4px;
    animation: a 1s;
    z-index: 3
}

.k-toolbar .dropdown, .k-toolbar .dropdown ul {
    -ms-flex-direction: column;
    flex-direction: column
}

.k-toolbar .dropdown ul {
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid
}

.k-toolbar .dropdown ul:last-of-type {
    border: 0
}

.k-toolbar .dropdown .collect-icon {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 32px
}

@keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.dark.k-toolbar .dropdown, .dark .k-toolbar .dropdown {
    background: #25334b;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15)
}

.dark.k-toolbar .dropdown ul, .dark .k-toolbar .dropdown ul {
    border-color: #0c172d
}

.dark.k-toolbar .dropdown li, .dark .k-toolbar .dropdown li {
    color: hsla(0, 0%, 100%, .65)
}

.dark.k-toolbar .dropdown li:hover, .dark .k-toolbar .dropdown li:hover {
    color: hsla(0, 0%, 100%, .85);
    background: rgba(87, 149, 241, .04) !important
}

.dark.k-toolbar .dropdown li.selected, .dark .k-toolbar .dropdown li.selected {
    color: #5795f1;
    background: rgba(87, 149, 241, .04)
}

.dark.k-toolbar .dropdown .collect-icon, .dark .k-toolbar .dropdown .collect-icon {
    color: rgba(0, 0, 0, .25)
}

.dark.k-toolbar .dropdown .collect-icon.collected, .dark .k-toolbar .dropdown .collect-icon.collected {
    color: #ffbc54
}

.light.k-toolbar .dropdown, .light .k-toolbar .dropdown {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .15)
}

.light.k-toolbar .dropdown ul, .light .k-toolbar .dropdown ul {
    border-color: #f8f8f8
}

.light.k-toolbar .dropdown li, .light .k-toolbar .dropdown li {
    color: rgba(0, 0, 0, .45)
}

.light.k-toolbar .dropdown li:hover, .light .k-toolbar .dropdown li:hover {
    color: rgba(0, 0, 0, .65);
    background: rgba(87, 149, 241, .04) !important
}

.light.k-toolbar .dropdown li.selected, .light .k-toolbar .dropdown li.selected {
    color: #5795f1;
    background: rgba(87, 149, 241, .04)
}

.light.k-toolbar .dropdown .collect-icon, .light .k-toolbar .dropdown .collect-icon {
    color: rgba(0, 0, 0, .25)
}

.light.k-toolbar .dropdown .collect-icon.collected, .light .k-toolbar .dropdown .collect-icon.collected {
    color: #ffbc54
}

.k-toolbar .periods .dropdown li {
    padding-right: 0
}

.k-toolbar .main-indicators .dropdown li, .k-toolbar .periods .dropdown li {
    width: 120px;
    height: 32px;
    padding-left: 12px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.k-toolbar .main-indicators .dropdown li .checkbox {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    overflow: visible
}

.k-toolbar .main-indicators .dropdown li.selected {
    background: none
}

.k-toolbar .main-indicators .dropdown li.selected .checkbox {
    background: #fff
}

.k-toolbar .main-indicators .dropdown li.selected i {
    width: 16px;
    height: 16px;
    border-radius: 50%
}

.k-toolbar .main-style .dropdown li {
    width: 180px;
    height: 32px;
    padding-left: 12px;
    padding-right: 0;
    -ms-flex-align: center;
    align-items: center
}

.k-toolbar .main-style .dropdown i {
    margin-right: 10px
}

.k-toolbar .main-style .dropdown .collect-icon {
    position: absolute;
    right: 0
}

.k-toolbar .main-style .dropdown .collect-icon i {
    margin-right: 0
}

.k-toolbar .fullscreen.full-right {
    position: absolute;
    right: 4px
}

.k-toolbar .toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    height: 18px;
    margin: auto;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: .5px solid;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer
}

.k-toolbar .toggle span {
    padding: 0 5px
}

.dark.k-toolbar .toggle, .dark .k-toolbar .toggle, .light.k-toolbar .toggle, .light .k-toolbar .toggle {
    border-color: #5795f1;
    color: #5795f1
}

.dark.k-toolbar .toggle .selected, .dark .k-toolbar .toggle .selected, .light.k-toolbar .toggle .selected, .light .k-toolbar .toggle .selected {
    color: #fff;
    background: #5795f1
}

.k-toolbar .popover {
    position: absolute;
    height: auto
}

.k-toolbar .popover .title {
    padding: 1px 4px;
    border-radius: 2px;
    z-index: 3
}

.k-toolbar .popover .triangle {
    position: absolute;
    display: block;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    transform: translateX(-50%) rotate(45deg)
}

.k-toolbar .popover .split {
    position: absolute;
    width: 8px;
    height: 1px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%)
}

.k-toolbar .popover.top {
    padding-bottom: 3px
}

.k-toolbar .popover.top .triangle {
    bottom: 0
}

.k-toolbar .popover.top .split {
    bottom: 3px
}

.k-toolbar .popover.bottom {
    padding-top: 3px
}

.k-toolbar .popover.bottom .triangle {
    top: 0
}

.k-toolbar .popover.bottom .split {
    top: 3px
}

.dark.k-toolbar .popover, .dark .k-toolbar .popover {
    color: #fff
}

.dark.k-toolbar .popover .title, .dark .k-toolbar .popover .title, .dark.k-toolbar .popover .triangle, .dark .k-toolbar .popover .triangle {
    background: #121d32;
    border: 1px solid hsla(0, 0%, 100%, .65)
}

.dark.k-toolbar .popover .split, .dark .k-toolbar .popover .split {
    background: #121d32
}

.light.k-toolbar .popover, .light .k-toolbar .popover {
    color: #fff
}

.light.k-toolbar .popover .title, .light .k-toolbar .popover .title {
    background: #25334b
}

.light.k-toolbar .popover .triangle, .light .k-toolbar .popover .triangle {
    background: #25334b;
    border: 1px solid hsla(0, 0%, 100%, .65)
}

.light.k-toolbar .popover .split, .light .k-toolbar .popover .split {
    background: #25334b
}

@font-face {
    font-family: iconfont;
    src: url(fonts/iconfont.f4eb36e.eot);
    src: url(fonts/iconfont.f4eb36e.eot#iefix) format("embedded-opentype"), url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAkUAAsAAAAAEUgAAAjGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCEdAqSLI49ATYCJANACyIABCAFhG0HgX8bbg4jEcLGAYHeeDXZPxN4E60TQMUauKxhsxogEk5AWHlZjjtPJHgTVLUfb8/tvcefADwEbRQAqJQnUmFjwsKxRZZAMvqGp23+O2Jxb+MW0EYtIjmz7w50sjS2xkgWx37DoihZYBRgNrosUH8381cQAItzBXyAwlSYoTz77J5916YwSFY6+mu/VkW0q+ZCPLHH3wUevhx4EpdKunSRyJAuilk6EkMkRAiFIcREKB0T2awXmDiikrLt3/1DQE4n42jFqjgCpHi0bmHH4QM5e0AaG8CXFIq0J86x69El2KTugnsEXHS/X3+YVQqOyNDMrtkbngkWvzu+EdnxQJNhJyDqjwF7R2DAOOBB93LlN5g+jLtcnrefxVGgnmoldP/94dfgx9Gvz39t/nr068dfT34jCuG741o29PWji7VVUU+jXthJt4D+zXMYFUR4YhJSMnIKSiqpAsUQVyL1CVYhbZGJyCUjaIKDHwAxkKNAKkDOA4lAzEA8yBCQGGQYSALiAJKCjADJQEaB5CCPgBQgj4GUIJNoQiX8FB2iCoBq2043MAnuFdh1NLpboe4zQBPIDacLYDbKi7y1ubq6LHduFatJ/rRaU0+JZV3f3lCWpjUq4+rm7PZTHbVYqNqbLt+dJt+3J50gKUJGyWQkSWSoKUY19XQDDxJX7AqtQAbCg4jWJkDU1kwC0Vs19QDoGiA02NRWFJUZxF+nyeHccvqxKlzh2N3xQHblmIIeQDmaIYStHoaYdhAccjoJl4scH5eNjcnvjAVUjUfedvlbnPv0fH750Hy064WPWiAwty2majUd3Cs9mj6xvqsriKhvEfF04OqztWj1wnqhl5H21vF41wYh7HzuTXO5xtZFZI22W2Do1/Yu0nV2LpDZ2sV8PR+58XID1A77+t5QE1e4XAPQsb0AJpFIxyWuoBq+dXGfZmP9wsAzSq8XSMzI2BiF6vnicrVEYhDAOfapxVEreoHMALW8hkW92i22JbSe1Om4QiNYxgGo44lMdD7JQAofuYR0EEWOWgm6gSBkgO7tR5AbXOEyBT4xZwdPBQuwmnUsWcz4ODyob3TNqxmXRTsJJ9o1plmO0DgPoQBlzWSjwSyUvQ+JHGDMZMpRJlTl6YYAIpCNKlA23IMWCFO/MQVFYHEBWaykpNuk25eQUmqJGy8y23CjqavHLsqs7bBfa+jsvyHO0dUdQlkogACyIYJmoVNREIMpne3fkZXDUWVnIqpNZYBFz5uvxiE3OZNKJVU1gyKWcSCIUzskZpuHFxzjaO4NtAAW3Tp4vyZ7ONx+1Nw29EBVa1XbtA10fSbnfDnzF8qcTooLVjkWwYzWClf6CnM/nKntFS3bZGA8e+C8HcB8oigj3ksEDC4XMK0NYTKrltKjMzQ48kvwzkGuzrPXPJw+NXHLMfCwJhJhf/WKQJspHvPD36IuvOCB5z8O6oUNfitvxMJ8wz5JLSmxeZM+1tJSAiMxgIVhdozM2JajMZUT5kNgjdjaWXb33fwsorTU6kN60+MHK+LjxQfFVm+F/yJ7UkJKDpp7gSeWQvLyEErn2XxLFKon8/PJuD3RUQJ+VHSuOxrN55sfenPEdzlz19vPWDhgwU2bn3i3n4jgL0z40POOxOR+nEALTkdWcZ4u3ARZAGd9QgXGpySG4L7LGUklPuzqSZs9UIUJFiZ+5LF5mcGTXcoFpyIrxdjC6czdZ/B5OykZD4mXQ9G0RYGsUCQtDQmdNhvft+XtomA/1gyKuqhKVKlJagZzpVKaupS3N5OPhKalhSKswEXbt2zcsm1xwCEhvT0vc9GmLabi4JWeEPTBuAMXwrIhyy9fSizh7cvkicT0goDF2zwHW4124F7jt8adWlJq9Sa9e0vLSCxsFpDtPmDHiDe2qN3SnueFruE1cr5sd6/1XStdgz4bV31iO2iJTxAfkBwyJAcSExIpnik7gALLQct7HQAZ3xsTeis7qShGrnJF2N1tESm8Q9mKbnOcURoXSQWPxCemFGTsZuBv1QKFB3coLX4WpQe++70aHcQHlbQfLZVagAXwPqfxbuUlZbete0WyZY5lNCV3GB8+dlio81h+sIBfhrZvc7uhdvvnOj255vHqxwrFBwZ55Gc8ysgN/DCWfp0Ogz9vzFcpg9aZTGtWBIQ/IgIm15SbPuuewiiN06TOcQo/9X84AfCTJ4VZBk6fAB97fOU+cilY9Qo4vOAUACDw5KWJSxTgF/5D2pLex3+d1IL1N5deCJs+MT3swoS7Zzx5wjvcRHjbyoQp3DvcDNYgz1ZaF+ptQnEZUliIyHjEt84oa7aNJCV5eZl0xA2oftD7zTIRV1T2pncZTU5zTCNph1B9h+dP1nBmcxz4kRp/MhrlooJpCkAYNofhsAD21RVBsFiS0aKYtuTF8/alhcWTFNvAuh3oaiOE0/a/ndwG9sC5/xzq430ae/a25db/KfwPqfSh00DRXKA96G8wRQWdhH/8RDXv+JtEG6z2l9sxhb1VVvMBJPMOyPUpCMpULd/GpA21RX9xaUNY7UjoAMtL7QeP1PHqiIJ5iJG6UJ0zxmrHBXUcwZDPgFHOoFpUc7faUcl9MKQ+BY/Ur9URjfyTxciVVees1Vw3CwZ1m508eeARJGtOzApCZQzHibfzG3TquSeJauwffLCErMrLx8obIPg+LIS9rmNUTHka2KswA31PbPTUgoi5wfK4Kwp1tJgLGi4mF08eeLTrS9acOltBqBTHSerrv0GnnvuSC6+d/8EH+3pW5WWNxDcOa104l/1hr+tITDHzuKeBvRKDXl8kNubrakHE3LSYH3cFPaTqcvn4dHjlOYyX71LtDavlZPKKFCtRqky5CpWqUKWqVK0aYq6fyH1GN04EU5X6PggPgPV2AEwZl4NFG+JGqbCESzjaWL63WpyNbSwnWps4urQQ6ozsITz1553pxTRqaTYAD8lDFon6GyrRO+l6i5BJOuBDYCmNa2FAdA0dswD9xisEuUppn3wIwuzTUKSLCwA=") format("woff2"), url(data:application/font-woff;base64,d09GRgABAAAAAAtkAAsAAAAAEUgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY9NkoLY21hcAAAAYAAAADNAAACdCX/TeBnbHlmAAACUAAABnwAAAksglDzhmhlYWQAAAjMAAAALwAAADYUinKpaGhlYQAACPwAAAAcAAAAJAfeA5FobXR4AAAJGAAAAA8AAABAQAAAAGxvY2EAAAkoAAAAIgAAACIVuhNQbWF4cAAACUwAAAAfAAAAIAEhAORuYW1lAAAJbAAAAUUAAAJtPlT+fXBvc3QAAAq0AAAArgAAAP9zV6T3eJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeHXghydzwv4EhhrmBoQEozAiSAwDu6Ay+eJzlks1twkAQRp+D+QkhcQ4IiQtKAdRGCWmBAuiAUyogGOUIbfjjTAPwjQe4hA6Y1bO030rj1bwFukDHzE0JxQ8FUWunRZt3GLZ5ybf3Yz6dlE0ttNBSK+100Ok4PZ+h2d7Tjfa39F8V7jK5rxlfXpG+uPO7b1TSo8+AV//5jREfVD7uPej0bDVqv3/XXRUTT8JVUyeeIyIJt1okni1aJuFdqyS8a5N48ug3sQO0TWwD1Ym9oF0Sb0P7xK7QIYmb6pTYH8dpQnUBj/JSCwAAAHicfVZdaBzXFb7n3tkZ7c5qZ2Z3firN/o92Ztept9b+upa8mhiF2CbxT2TLP8FK++KQEFq5dt1q28jbFNo+FEpEkHGSB0EIoWCXQKAuIZFkJ9AXUwJ5iF9anIfQh/ohdoufOpOeO2sb2ZCK2XvP2fnOd885e797RSgh31wSCHuRxIlOCFRkiGVYJcYky5My3gwUQBJIuL6+Hq7fGIFpmB7ZK969K7197/XX770N/34BjPBfL4T3wvcXF+EQ/efRo0Bu7Pv88303kGwL9xbmx+ge5yBEwLgNtsl8MkYmyZPkMEY7ZVE3raaEY2MGDN1sTjY63XbLBaldh7KYgzxMQQ9a7hPQ7bTcMpRSIGl5sEo96Gp1yOiiUyq7ba3VaZYapkHvXVEMQ5lbks283DcVxQAzfGcJjLwJunpZNQz1SF82c/CrYHXqAKUHpujL0Sy6drBqu65NX7Zd+pZRMGApmTPl/hHFNNTLihleX5rj1FdUA/BtX0bGmxi/lScYfcDg2lG9b2KfThOZWGSJfIH1YvKYO6ZeB1YHDw10U1BxvwfoOvhpzUAHPbcsSikou16dKhhVANPAWEeURAVE3TILUWMwWEcfPRPb1oOGaeXpDPYLCbw2sjcbHeRrRVGSgwwGx6LjlD3Xc8sSEjplvjjC2jwFvjbPodvE8BYHodNsWKZlNrqdLpp8aWQwcPEmZ9MpOXaW0rPH+Hhuvruf0n07+bgfPqUMxFpeqEyCIIyms8vpaiWl1uxt6millv61rY0yASYrQsHMxMRYjKOr+dgD9C8j9BPZbdqoW80MOJoBh+drohg7ABQYE2ZPUhqThPjPmJAUzfHqweqYKSaZcEZkVJLoyVkBQfg3hEpoJ34ucOiY94w3bkiywM49AqXP3C/l7LH5c+EHD2rpdvdfVxWhWOMZyAm50NOflpSUOj6upRQY2avPFOMJGVPHnyTvFPeUVIWVahwrc+xTI6qiZrOaoiI2g9h4giG4ViqX9pxIJuIJAdcfSWt6Mr4HJCudzaZNCXxhVMwYJiYuJArZndm8zOjzs4aRSCQTCDM0e1wzEBZLirphzD5PmZzP7iSESFu0No5qa5A95DkyhzvQ4mLynEhMCqDSnMmyaEg6boou6q+zO9JaCnRzCiJZQubbJdct5cHQ6O4rqq6rXHO5ZN9QueZ+81q/MmEql/kLLrg8fP/L/6c4uASgF3Xoyzkz8YujkdAUY/pO/4ih68YVxXyouQZchoNTwcVpzjFNX5o6iKrzPJu+hCyAnBdJdEYRwv5Oz2P9pIs6a2L++JidrsW3fJ15ZfHUroPvzO/7yY5cz0y/srDrWX/vk9sPzJ2a9H93e+zDP7MzT1WfZuKLf8leevYYPfTTH7L3hmfYGjvEBthhmWRQ13iGGY5W0hxLc7RKe+gwR2vCgr8IxcUda3CXG/7aGiObwQ/omh/cosVPPv44HMAg3IwyjXgH7DDyykQhNinc520azXZTczJoxZz2w288px3xL+KzY20NPjnj/xgfvsbgavCjq1fpSvAnmp7b2Ajf2NjwbxOG/H9gX7FZtAqkRUgcrDh4Xav7LR88Q+q4CyxwU5CnPfDA7ND/BNfu0Jng2qo7sX0it1BfyEXz9lM5px7N2dXwa0X4TrWaEcLTupOJ5VxHFeAtJUs3gut3aC/MXnQn6k5+YTvGPjpnVyGp1iaSWsUMTwuq4+ZiGUeHN9kI9odG/TkV9SfqueYY2Amt2XYi24ls3pPBwL9wAb551V9e9l9lJPD9Ad30Q6x72f9vOBhy4d4oUm5hXzJxKN2CIhSCa5SE78EJsgVzcoiJ00lWCL8MbwGBEyHuA97P11jIlhGWJGlkwdvH0HQUBuoC24YtpCv05spKUF2hX02H5z70L7Bl7vFvw3/MhL/9267fR3UNeRTiYV24RTVUWwlPYg3VVimVUxRp8xTpexSp65S9Ml4BqIwH1eFMbwbVXHubaW5r5+jN+xb77iMInJ/j7x9HklhU5yb9mozg/wlFsgtPCYK/fKvTMHURtlxRXnRpedEFxvCq4bdtIZLVloRn8IrC00TDe7zU6GC6eJR4LjaF7dBtu2rb4UfHz1N6/vhw3H2Y0sO7o/GP6Xh1DPSxajzdr3UAOrXAH85/Lb+bSqdTdJOP75ZjifB2Aj4Dzla1w42HZMfP9x6Q4Qjrdcu2rToShPeJYBNncz6dCn1OBUg4nyDkf6yCvBB4nGNgZGBgAOLnkayC8fw2Xxm4WRhA4MbW6WEI+n8DCwNzA5DLwcAEEgUAGOwKCwB4nGNgZGBgbvjfwBDDwgACQJKRARUIAABHFgJ5eJxjYWBgYKEAAwAIwABBAAAAAAAALgBKAMICAAKAAqwC2AMIA2gDjgOgA7AD1AQUBJYAAHicY2BkYGAQYLjBwM4AAkxAzAWEDAz/wXwGAB+zAgYAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicbYpLDoIwEIY7ioqAPOI5utBbuDPxBKWMaUOZUdpG4unVuNAYv83/FDPxJhP/qWEGc0hgAUtYQQpryCCHAjZQQgU1NGJ5CmqUnLwkP0fnvB4Rab8dkKJU3WDJ+jCqYJkqnGz4fHbl3djWKr6bqOgaS62oc+iD1b1xOv+KxYDKxxFlYHYJP9esd5ZQdnyj9G3jpdEGdd/yJD061AG7+rfJDppJHg0HFuIBex5GNAAA) format("woff"), url(fonts/iconfont.d53ffef.ttf) format("truetype"), url(img/iconfont.574348e.svg#iconfont) format("svg")
}

.iconfont {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-Star-o:before {
    content: "\E6C0"
}

.icon-Star:before {
    content: "\E6C1"
}

.icon-fullscreen2:before {
    content: "\E700"
}

.icon-menu-administration:before {
    content: "\E79B"
}

.icon-exitfullscreen1:before {
    content: "\E78F"
}

.icon-zhibiaozhuanqu:before {
    content: "\E7BE"
}

.icon-candlestickhlc:before {
    content: "\E7BF"
}

.icon-candlestick:before {
    content: "\E7C0"
}

.icon-measure-tool:before {
    content: "\E7C1"
}

.icon-ohlc:before {
    content: "\E7C2"
}

.icon-kline-down:before {
    content: "\E7CC"
}

.icon-kline-up:before {
    content: "\E7CD"
}

.icon-checkbox-selected:before {
    content: "\E76E"
}

.icon-checkbox-selecte:before {
    content: "\E7F2"
}

.icon-Icon-Photo:before {
    content: "\E819"
}

.k-toolbar {
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 36px;
    min-height: 20px;
    padding-left: 8px;
    z-index: 3;
    font-size: 12px;
    border-bottom: 1px solid;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.k-toolbar, .k-toolbar div, .k-toolbar li, .k-toolbar ul {
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box
}

.k-toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0
}

.k-toolbar li {
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4px;
    cursor: pointer
}

.k-toolbar i {
    min-width: 16px;
    min-height: 16px
}

.k-toolbar span {
    line-height: 16px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.k-toolbar > div {
    height: 100%
}

.k-toolbar .icon-button {
    padding-right: 4px
}

.k-toolbar .border-line {
    width: 1px;
    height: 16px;
    margin: 0 4px;
    -ms-flex-item-align: center;
    align-self: center
}

.k-toolbar .hide {
    display: none !important
}

.dark.k-toolbar, .dark .k-toolbar {
    color: hsla(0, 0%, 100%, .85);
    background: #121d32;
    border-color: #0c172d
}

.dark.k-toolbar li.hover, .dark .k-toolbar li.hover, .dark.k-toolbar li:hover, .dark .k-toolbar li:hover {
    color: #fff
}

.dark.k-toolbar li.selected, .dark .k-toolbar li.selected {
    color: #5795f1
}

.dark.k-toolbar .border-line, .dark .k-toolbar .border-line {
    background: hsla(0, 0%, 100%, .25)
}

.light.k-toolbar, .light .k-toolbar {
    color: rgba(0, 0, 0, .65);
    background: #f8f8f8;
    border-color: #e9e9e9
}

.light.k-toolbar li.hover, .light .k-toolbar li.hover, .light.k-toolbar li:hover, .light .k-toolbar li:hover {
    color: #000
}

.light.k-toolbar li.selected, .light .k-toolbar li.selected {
    color: #5795f1
}

.light.k-toolbar .border-line, .light .k-toolbar .border-line {
    background: #e9e9e9
}
